songbook.pdf
songbook-guitar.pdf
cover-guitar.pdf
cover-ukulele.pdf
cover-guitar.aux
cover-guitar.fdb_latexmk
cover-guitar.fls
cover-guitar.log
cover-guitar.synctex.gz
cover-ukulele.aux
cover-ukulele.fdb_latexmk
cover-ukulele.fls
cover-ukulele.log
cover-ukulele.synctex.gz
