out/
build/
cover/cover-guitar.pdf
cover/cover-ukulele.pdf
cover/cover-guitar.aux
cover/cover-guitar.fdb_latexmk
cover/cover-guitar.fls
cover/cover-guitar.log
cover/cover-guitar.synctex.gz
cover/cover-ukulele.aux
cover/cover-ukulele.fdb_latexmk
cover/cover-ukulele.fls
cover/cover-ukulele.log
cover/cover-ukulele.synctex.gz
cover/cover-guitar.tex
cover/cover-ukulele.tex
.last_printed_commit
cover/hardcover-guitar.aux
cover/hardcover-guitar.log
cover/hardcover-guitar.pdf
cover/hardcover-guitar.tex
cover/hardcover-ukulele.aux
cover/hardcover-ukulele.log
cover/hardcover-ukulele.pdf
cover/hardcover-ukulele.tex
.last_printed_guitar_commit
.last_printed_ukulele_commit
*~
cover/hardcover-guitar.fdb_latexmk
cover/hardcover-guitar.fls
cover/hardcover-guitar.synctex.gz
__pycache__/
config/upload_target
config/releases
config/releases.json
config/COMMIT-HASH*
config/last_printed_*_commit
config/TAG*
cover/hardcover-ukulele.fdb_latexmk
cover/hardcover-ukulele.fls
cover/hardcover-ukulele.synctex.gz
config/headers_auth.json
