songbook-guitar.pdf
songbook-ukulele.pdf
cover/cover-guitar.pdf
cover/cover-ukulele.pdf
cover/cover-guitar.aux
cover/cover-guitar.fdb_latexmk
cover/cover-guitar.fls
cover/cover-guitar.log
cover/cover-guitar.synctex.gz
cover/cover-ukulele.aux
cover/cover-ukulele.fdb_latexmk
cover/cover-ukulele.fls
cover/cover-ukulele.log
cover/cover-ukulele.synctex.gz
cover/cover-guitar.tex
cover/cover-ukulele.tex
