documents
quickStart
*pythontex-files-main
*.log
*.aux
*.dvi
*.lof
*.log
*.lot
*.bit
*.idx
*.glo
*.bbl
*.bcf
*.ilg
*.toc
*.ind
*.out
*.blg
*.fdb_latexmk
*.fls
*.gz
*.tmp
*.listing
*main.sagetex.*
*_minted-main
*svg-inkscape
*main.pdf
*main.mw
*main.pytxcode
*sage-plots-for*
*main.stderr
*main.sh
